* {
    margin: 0;
    padding: 0;
}

:root {
    --yellow: color: hsl(47, 88%, 63%);
    --white: color: hsl(0, 0%, 100%);
    --gray-500: color: hsl(0, 0%, 42%);
    --gray-950: color: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'Figtree';
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Figtree';
    src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
    font-style: italic;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }