* {
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'Figtree';
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Figtree';
    src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

body {
    background-color: var(--yellow);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container-card {
    background-color: var(--white);
    max-width: 300px;
    min-height: 350px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }